**/node_modules/
**/.next/
**/dist/
**/cdk.out/
**/cdk.context.json
**/.turbo/
**/.git/
**/.github/
**/coverage/
**/.vscode/
**/.idea/
**/.DS_Store
**/_junk/
**/.context/
**/test-results/
**/playwright-report/
**/storybook-static/
**/.cache/
**/*.log
**/*.tsbuildinfo
