{
  "openapi": "3.1.0",
  "paths": {
    "/v1/ping": {
      "get": {
        "description": "Zero-DB smoke test. Returns the resolved principal — confirms the API key authenticated.",
        "operationId": "PingController_ping_v1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Ping",
        "tags": [
          "Meta"
        ]
      }
    },
    "/v1/organization": {
      "get": {
        "description": "Returns the organization the authenticated API key belongs to.",
        "operationId": "OrganizationController_get_v1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get organization",
        "tags": [
          "Organization"
        ]
      }
    }
  },
  "info": {
    "title": "Afframe Public API",
    "description": "Public API for the Afframe accounting platform. Authenticate with an API key as a bearer token.",
    "version": "0.0.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Meta",
      "description": "Service metadata and auth smoke tests"
    },
    {
      "name": "Organization",
      "description": "The API key's own organization"
    }
  ],
  "servers": [
    {
      "url": "https://api.afframe.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "scheme": "bearer",
        "bearerFormat": "API key",
        "type": "http",
        "description": "API key in the form affk_live_..."
      }
    },
    "schemas": {
      "PingResponseDto": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "principal": {
            "type": "object",
            "properties": {
              "organizationId": {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              }
            },
            "required": [
              "organizationId",
              "workspaceId"
            ]
          }
        },
        "required": [
          "ok",
          "principal"
        ]
      },
      "GetOrganizationResponseDto": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              },
              "slug": {
                "type": "string"
              },
              "legalName": {
                "type": "string"
              },
              "fiscalYearStartMonth": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            },
            "required": [
              "id",
              "slug",
              "legalName",
              "fiscalYearStartMonth"
            ]
          }
        },
        "required": [
          "organization"
        ]
      }
    }
  }
}
