{
  "openapi": "3.1.0",
  "info": {
    "title": "Afframe Public API",
    "version": "1.0.0",
    "description": "Public API for the Afframe accounting platform. Authenticate with an API key as a bearer token in the form `affk_live_…`. Sandbox keys (`affk_test_…`) are not issued yet. Errors are returned in a Plaid-shape envelope; rate limits are surfaced via IETF `RateLimit-*` headers.\n\nService status: [status.afframe.com](https://status.afframe.com) (programmatic at `GET /v1/status`).",
    "contact": {
      "name": "Afframe support",
      "email": "support@afframe.com",
      "url": "mailto:support@afframe.com"
    },
    "license": {
      "name": "Proprietary — see Terms of Service",
      "url": "https://afframe.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.afframe.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "Service metadata and auth smoke tests"
    },
    {
      "name": "Organization",
      "description": "The API key's own organization"
    },
    {
      "name": "Status",
      "description": "Service status and component health"
    },
    {
      "name": "Feedback",
      "description": "Send bug reports, requests, and questions"
    },
    {
      "name": "Structure",
      "description": "Application information architecture — modules, pages, and layout archetypes for agent discovery"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "API key in the form `affk_live_…`. Send as `Authorization: Bearer <key>`. Sandbox keys (`affk_test_…`) are not issued yet — see the sandbox roadmap in the docs."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "API key missing, malformed, revoked, or pointing at a different environment than the host.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "error_type": "UNAUTHORIZED",
                "message": "Missing or invalid API key.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "API key authenticated but lacks the scope required for this operation, or the target resource belongs to a different tenant.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "forbidden",
                "error_type": "FORBIDDEN",
                "message": "The API key is not allowed to perform this action.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The resource referenced by the request URL does not exist (or does not exist within the authenticated tenant — Afframe never leaks cross-tenant existence).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "not_found",
                "error_type": "NOT_FOUND",
                "message": "Resource not found.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency conflict, optimistic-concurrency mismatch, or business-rule conflict.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "conflict",
                "error_type": "CONFLICT",
                "message": "Resource is in a state that conflicts with the request.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request body parsed but failed schema validation. The `details` array carries one entry per offending field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "error_type": "VALIDATION",
                "message": "Request body failed validation.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14",
                "details": [
                  {
                    "path": "$.legalName",
                    "code": "required",
                    "message": "legalName is required."
                  }
                ]
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Caller exceeded the API-key rate limit. The response carries IETF `RateLimit-*` headers indicating the reset window.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "rate_limited",
                "error_type": "RATE_LIMITED",
                "message": "Too many requests. See the RateLimit-* headers for the reset window.",
                "requestId": "req_1f5a8c6e91d240bdbe18d4e07a3f9c14"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PingResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Always `true` on a 2xx response."
          },
          "principal": {
            "type": "object",
            "properties": {
              "organizationId": {
                "type": "string",
                "format": "uuid",
                "description": "The organization the API key is scoped to."
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid",
                "description": "The workspace (accountant's office) hosting the org."
              }
            },
            "required": [
              "organizationId",
              "workspaceId"
            ],
            "description": "Identity resolved from the bearer API key. Mirrors the server-side tenancy GUCs (`app.organization_id`, `app.workspace_id`)."
          }
        },
        "required": [
          "ok",
          "principal"
        ],
        "description": "Confirms the API key authenticated and reveals the resolved tenancy."
      },
      "GetOrganizationResponse": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Opaque organization identifier (UUID)."
              },
              "slug": {
                "type": "string",
                "description": "URL-safe organization handle, e.g. `acme-cz`.",
                "example": "acme-cz"
              },
              "legalName": {
                "type": "string",
                "description": "Registered legal name, e.g. `Acme Czechia s.r.o.`",
                "example": "Acme Czechia s.r.o."
              },
              "fiscalYearStartMonth": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12,
                "description": "Month (1–12) on which the org's fiscal year starts. Most CZ entities use `1` (calendar year).",
                "example": 1
              }
            },
            "required": [
              "id",
              "slug",
              "legalName",
              "fiscalYearStartMonth"
            ],
            "description": "Public-API summary of an organization (tenant)."
          }
        },
        "required": [
          "organization"
        ],
        "description": "The organization the API key belongs to. Single-tenant view; future multi-org-per-key tokens will return a list endpoint instead."
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code. SDKs map this to typed error classes; do not switch on `message`. New codes may be added over time (MINOR change) — treat unknown codes by their `error_type` family.",
                "enum": [
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "conflict",
                  "idempotency_conflict",
                  "stale_resource",
                  "feature_not_enabled",
                  "payload_too_large",
                  "validation_error",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "error_type": {
                "type": "string",
                "description": "Plaid-shape family (INVALID_REQUEST, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, VALIDATION, RATE_LIMITED, INTERNAL, …)."
              },
              "message": {
                "type": "string",
                "description": "Developer-facing message. Safe to log."
              },
              "display_message": {
                "type": "string",
                "description": "Optional end-user-facing message. Present when the cause is safe to surface in a UI; absent for 5xx / unknown errors."
              },
              "documentation_url": {
                "type": "string",
                "format": "uri",
                "description": "Optional deep-link into a hosted error registry. Reserved for future use; the api does not emit this field today."
              },
              "requestId": {
                "type": "string",
                "description": "Echoes the `X-Request-Id` header for support tickets."
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "code",
                    "message"
                  ]
                },
                "description": "Field-level error breakdown. Reserved for `422 validation_error`; not emitted today."
              }
            },
            "required": [
              "code",
              "message",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Plaid-shape error envelope. Every non-2xx response from `/v1/*` is wrapped in this object."
      },
      "ApiPrincipal": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "The organization the API key is scoped to."
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "The workspace (accountant's office) hosting the org."
          }
        },
        "required": [
          "organizationId",
          "workspaceId"
        ],
        "description": "Identity resolved from the bearer API key. Mirrors the server-side tenancy GUCs (`app.organization_id`, `app.workspace_id`)."
      },
      "OrganizationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Opaque organization identifier (UUID)."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe organization handle, e.g. `acme-cz`.",
            "example": "acme-cz"
          },
          "legalName": {
            "type": "string",
            "description": "Registered legal name, e.g. `Acme Czechia s.r.o.`",
            "example": "Acme Czechia s.r.o."
          },
          "fiscalYearStartMonth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Month (1–12) on which the org's fiscal year starts. Most CZ entities use `1` (calendar year).",
            "example": 1
          }
        },
        "required": [
          "id",
          "slug",
          "legalName",
          "fiscalYearStartMonth"
        ],
        "description": "Public-API summary of an organization (tenant)."
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "operational",
              "degraded_performance",
              "partial_outage",
              "major_outage"
            ],
            "description": "Overall service status. `operational` = all components healthy; `degraded_performance` = one or more components reporting slow responses; `partial_outage` = a non-critical component is down; `major_outage` = a critical component is down.",
            "example": "operational"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Component label, e.g. `Public API`, `Web app`, `Database`.",
                  "example": "Public API"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "operational",
                    "degraded_performance",
                    "partial_outage",
                    "major_outage"
                  ],
                  "description": "Overall service status. `operational` = all components healthy; `degraded_performance` = one or more components reporting slow responses; `partial_outage` = a non-critical component is down; `major_outage` = a critical component is down.",
                  "example": "operational"
                }
              },
              "required": [
                "name",
                "status"
              ],
              "description": "Per-component health entry. Mirrors the components shown on status.afframe.com."
            },
            "description": "Per-component health snapshots. Empty array when the status page is offline and the api falls back to a synthesized response."
          },
          "statusPageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Canonical status page URL. Always `https://status.afframe.com` — included so SDK consumers can deep-link end users to the live page.",
            "example": "https://status.afframe.com"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of when this status was fetched.",
            "example": "2026-05-21T18:00:00.000Z"
          },
          "source": {
            "type": "string",
            "enum": [
              "openstatus",
              "fallback"
            ],
            "description": "`openstatus` when the response came from the live status page; `fallback` when status.afframe.com was unreachable and the api synthesized an operational default.",
            "example": "fallback"
          }
        },
        "required": [
          "status",
          "components",
          "statusPageUrl",
          "fetchedAt",
          "source"
        ],
        "description": "Service status summary. Programmatic equivalent of status.afframe.com — cache for 30s on the client side."
      },
      "ServiceStatus": {
        "type": "string",
        "enum": [
          "operational",
          "degraded_performance",
          "partial_outage",
          "major_outage"
        ],
        "description": "Overall service status. `operational` = all components healthy; `degraded_performance` = one or more components reporting slow responses; `partial_outage` = a non-critical component is down; `major_outage` = a critical component is down.",
        "example": "operational"
      },
      "ComponentStatus": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Component label, e.g. `Public API`, `Web app`, `Database`.",
            "example": "Public API"
          },
          "status": {
            "type": "string",
            "enum": [
              "operational",
              "degraded_performance",
              "partial_outage",
              "major_outage"
            ],
            "description": "Overall service status. `operational` = all components healthy; `degraded_performance` = one or more components reporting slow responses; `partial_outage` = a non-critical component is down; `major_outage` = a critical component is down.",
            "example": "operational"
          }
        },
        "required": [
          "name",
          "status"
        ],
        "description": "Per-component health entry. Mirrors the components shown on status.afframe.com."
      },
      "CreateFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bug",
              "request",
              "issue",
              "question"
            ],
            "description": "Feedback category. `bug` = something broken; `request` = new feature ask; `issue` = process / UX / docs problem; `question` = support question that didn't fit the FAQ.",
            "example": "bug"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000,
            "description": "Free-form feedback text. 1–4000 characters. Markdown allowed but not rendered — the Linear issue treats this as plain text.",
            "example": "The /v1/organization endpoint returned a 500 when my API key was created in the last 60 seconds. Retried after a minute and it worked."
          },
          "email": {
            "type": "string",
            "maxLength": 254,
            "format": "email",
            "description": "Optional contact email. If provided, support will reply here; otherwise the response is filed without a return path. Already-authenticated keys carry an org contact so this is purely for users who want a direct reply.",
            "example": "dev@partner.example"
          },
          "context": {
            "type": "object",
            "properties": {
              "page": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "pathname": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "title": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 500
                  },
                  "locale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 16
                  },
                  "theme": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "light",
                      "dark",
                      "system",
                      null
                    ]
                  },
                  "referrer": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2048
                  }
                },
                "required": [
                  "url",
                  "pathname"
                ],
                "description": "Page the report was filed from."
              },
              "scope": {
                "type": "object",
                "properties": {
                  "org_slug": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "reporter_id": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "reporter_email": {
                    "type": "string",
                    "maxLength": 320
                  }
                },
                "description": "App scope + server-resolved reporter identity. Advisory only — never used for authorization."
              },
              "element": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "data_slot": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 128
                  },
                  "role": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 64
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 128
                  },
                  "classes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 500
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "dom_path": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "bounding_rect": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "top": {
                        "type": "number"
                      },
                      "left": {
                        "type": "number"
                      },
                      "width": {
                        "type": "number"
                      },
                      "height": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "top",
                      "left",
                      "width",
                      "height"
                    ]
                  }
                },
                "required": [
                  "tag"
                ],
                "description": "Right-clicked element descriptor."
              },
              "selection": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 4000
                  },
                  "html": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 4000
                  },
                  "rect": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "top": {
                        "type": "number"
                      },
                      "left": {
                        "type": "number"
                      },
                      "width": {
                        "type": "number"
                      },
                      "height": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "top",
                      "left",
                      "width",
                      "height"
                    ]
                  }
                },
                "description": "Active text selection, if any."
              },
              "surrounding": {
                "type": "object",
                "properties": {
                  "nearest_heading": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 300
                  },
                  "inferred_block": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 128
                  },
                  "nearby_text": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "description": "Nearby DOM text for locating the report."
              },
              "viewport": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20000
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20000
                  },
                  "scroll_y": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "device_pixel_ratio": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 8
                  }
                },
                "required": [
                  "width",
                  "height",
                  "scroll_y",
                  "device_pixel_ratio"
                ],
                "description": "Viewport dimensions at capture time."
              },
              "client": {
                "type": "object",
                "properties": {
                  "user_agent": {
                    "type": "string",
                    "maxLength": 800
                  },
                  "platform": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 128
                  },
                  "language": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 32
                  },
                  "timezone": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 64
                  },
                  "online": {
                    "type": "boolean"
                  },
                  "prefers_dark": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "user_agent"
                ],
                "description": "Reporter's browser/runtime environment."
              }
            },
            "description": "Optional in-app capture context (page, element, viewport, client). Public callers omit it; the in-app reporter attaches it. Folded into the Linear issue when present."
          }
        },
        "required": [
          "type",
          "message"
        ],
        "description": "Partner feedback submission. Idempotency is not enforced — duplicate submissions create duplicate Linear issues. Clients should rate-limit themselves to one submission per minute."
      },
      "CreateFeedbackResponse": {
        "type": "object",
        "properties": {
          "received": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Always `true` on a 2xx response. Confirms the api accepted the submission for downstream dispatch (email + Linear issue)."
          },
          "referenceId": {
            "type": "string",
            "description": "Opaque submission reference. Quote this in any follow-up email — it links the support reply back to the Linear issue.",
            "example": "fb_2ZdAk5x"
          }
        },
        "required": [
          "received",
          "referenceId"
        ],
        "description": "Confirmation that feedback was accepted. Acceptance does NOT guarantee a reply — `question` submissions get one, the others are reviewed without acknowledgement unless an email is provided."
      },
      "FeedbackType": {
        "type": "string",
        "enum": [
          "bug",
          "request",
          "issue",
          "question"
        ],
        "description": "Feedback category. `bug` = something broken; `request` = new feature ask; `issue` = process / UX / docs problem; `question` = support question that didn't fit the FAQ.",
        "example": "bug"
      },
      "GetStructureResponse": {
        "type": "object",
        "properties": {
          "modules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Module route key (first path segment after the org slug). Empty string is the Company index module.",
                  "example": "closing"
                },
                "label": {
                  "type": "string",
                  "description": "Module label as shown in the rail.",
                  "example": "Closing"
                },
                "route": {
                  "type": "string",
                  "description": "Module route relative to the org root. Empty for Company.",
                  "example": "closing"
                },
                "icon": {
                  "type": "string",
                  "description": "Rail icon name for the module.",
                  "example": "CalendarClock"
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "group": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Sidebar group heading this page sits under, or null when the page is pinned / ungrouped.",
                        "example": "Obligations"
                      },
                      "label": {
                        "type": "string",
                        "description": "Page label as shown in the sidebar.",
                        "example": "VAT"
                      },
                      "route": {
                        "type": "string",
                        "description": "Route relative to the org root (no org slug). Empty string is the module index.",
                        "example": "closing/vat"
                      },
                      "icon": {
                        "type": "string",
                        "description": "Lucide/Phosphor icon name for the page.",
                        "example": "ReceiptEuro"
                      },
                      "tba": {
                        "type": "boolean",
                        "description": "Build-status flag — `true` = not-yet-built placeholder.",
                        "example": true
                      },
                      "archetype": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "enum": [
                          "Table",
                          "Blank",
                          "Launchpad",
                          "Dashboard",
                          "Single",
                          null
                        ],
                        "description": "Layout archetype, or null when not yet assigned.",
                        "example": null
                      },
                      "purpose": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "One-line description of the page, or null.",
                        "example": null
                      },
                      "subpages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Subpage label as shown in the sidebar.",
                              "example": "VAT return"
                            },
                            "route": {
                              "type": "string",
                              "description": "Route relative to the org root (no org slug). Prefix with `/{orgSlug}/` to build a URL.",
                              "example": "closing/vat/dap"
                            },
                            "tba": {
                              "type": "boolean",
                              "description": "Build-status flag. `true` = not-yet-built placeholder (renders a muted TBA chip in the GUI); `false` = shipped.",
                              "example": true
                            },
                            "archetype": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "enum": [
                                "Table",
                                "Blank",
                                "Launchpad",
                                "Dashboard",
                                "Single",
                                null
                              ],
                              "description": "The layout archetype this page uses, or null when not yet assigned (most pages are placeholders today).",
                              "example": null
                            },
                            "purpose": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "One-line description of the page, or null.",
                              "example": null
                            }
                          },
                          "required": [
                            "label",
                            "route",
                            "tba",
                            "archetype",
                            "purpose"
                          ],
                          "description": "A leaf subpage under a page (3rd nav level)."
                        },
                        "description": "Leaf subpages under this page. Empty when the page is a leaf."
                      }
                    },
                    "required": [
                      "group",
                      "label",
                      "route",
                      "icon",
                      "tba",
                      "archetype",
                      "purpose",
                      "subpages"
                    ],
                    "description": "A navigable page within a module (2nd nav level)."
                  },
                  "description": "Flat list of the module's pages, each carrying its `group` heading (null when ungrouped) and any subpages."
                }
              },
              "required": [
                "key",
                "label",
                "route",
                "icon",
                "pages"
              ],
              "description": "One org rail module and its page tree."
            },
            "description": "The ten org rail modules, in rail order."
          }
        },
        "required": [
          "modules"
        ],
        "description": "`GET /v1/structure` — the full org application structure (modules → pages → subpages)."
      },
      "ModuleStructure": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Module route key (first path segment after the org slug). Empty string is the Company index module.",
            "example": "closing"
          },
          "label": {
            "type": "string",
            "description": "Module label as shown in the rail.",
            "example": "Closing"
          },
          "route": {
            "type": "string",
            "description": "Module route relative to the org root. Empty for Company.",
            "example": "closing"
          },
          "icon": {
            "type": "string",
            "description": "Rail icon name for the module.",
            "example": "CalendarClock"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Sidebar group heading this page sits under, or null when the page is pinned / ungrouped.",
                  "example": "Obligations"
                },
                "label": {
                  "type": "string",
                  "description": "Page label as shown in the sidebar.",
                  "example": "VAT"
                },
                "route": {
                  "type": "string",
                  "description": "Route relative to the org root (no org slug). Empty string is the module index.",
                  "example": "closing/vat"
                },
                "icon": {
                  "type": "string",
                  "description": "Lucide/Phosphor icon name for the page.",
                  "example": "ReceiptEuro"
                },
                "tba": {
                  "type": "boolean",
                  "description": "Build-status flag — `true` = not-yet-built placeholder.",
                  "example": true
                },
                "archetype": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "Table",
                    "Blank",
                    "Launchpad",
                    "Dashboard",
                    "Single",
                    null
                  ],
                  "description": "Layout archetype, or null when not yet assigned.",
                  "example": null
                },
                "purpose": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "One-line description of the page, or null.",
                  "example": null
                },
                "subpages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Subpage label as shown in the sidebar.",
                        "example": "VAT return"
                      },
                      "route": {
                        "type": "string",
                        "description": "Route relative to the org root (no org slug). Prefix with `/{orgSlug}/` to build a URL.",
                        "example": "closing/vat/dap"
                      },
                      "tba": {
                        "type": "boolean",
                        "description": "Build-status flag. `true` = not-yet-built placeholder (renders a muted TBA chip in the GUI); `false` = shipped.",
                        "example": true
                      },
                      "archetype": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "enum": [
                          "Table",
                          "Blank",
                          "Launchpad",
                          "Dashboard",
                          "Single",
                          null
                        ],
                        "description": "The layout archetype this page uses, or null when not yet assigned (most pages are placeholders today).",
                        "example": null
                      },
                      "purpose": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "One-line description of the page, or null.",
                        "example": null
                      }
                    },
                    "required": [
                      "label",
                      "route",
                      "tba",
                      "archetype",
                      "purpose"
                    ],
                    "description": "A leaf subpage under a page (3rd nav level)."
                  },
                  "description": "Leaf subpages under this page. Empty when the page is a leaf."
                }
              },
              "required": [
                "group",
                "label",
                "route",
                "icon",
                "tba",
                "archetype",
                "purpose",
                "subpages"
              ],
              "description": "A navigable page within a module (2nd nav level)."
            },
            "description": "Flat list of the module's pages, each carrying its `group` heading (null when ungrouped) and any subpages."
          }
        },
        "required": [
          "key",
          "label",
          "route",
          "icon",
          "pages"
        ],
        "description": "One org rail module and its page tree."
      },
      "NavPage": {
        "type": "object",
        "properties": {
          "group": {
            "type": [
              "string",
              "null"
            ],
            "description": "Sidebar group heading this page sits under, or null when the page is pinned / ungrouped.",
            "example": "Obligations"
          },
          "label": {
            "type": "string",
            "description": "Page label as shown in the sidebar.",
            "example": "VAT"
          },
          "route": {
            "type": "string",
            "description": "Route relative to the org root (no org slug). Empty string is the module index.",
            "example": "closing/vat"
          },
          "icon": {
            "type": "string",
            "description": "Lucide/Phosphor icon name for the page.",
            "example": "ReceiptEuro"
          },
          "tba": {
            "type": "boolean",
            "description": "Build-status flag — `true` = not-yet-built placeholder.",
            "example": true
          },
          "archetype": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Table",
              "Blank",
              "Launchpad",
              "Dashboard",
              "Single",
              null
            ],
            "description": "Layout archetype, or null when not yet assigned.",
            "example": null
          },
          "purpose": {
            "type": [
              "string",
              "null"
            ],
            "description": "One-line description of the page, or null.",
            "example": null
          },
          "subpages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Subpage label as shown in the sidebar.",
                  "example": "VAT return"
                },
                "route": {
                  "type": "string",
                  "description": "Route relative to the org root (no org slug). Prefix with `/{orgSlug}/` to build a URL.",
                  "example": "closing/vat/dap"
                },
                "tba": {
                  "type": "boolean",
                  "description": "Build-status flag. `true` = not-yet-built placeholder (renders a muted TBA chip in the GUI); `false` = shipped.",
                  "example": true
                },
                "archetype": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "Table",
                    "Blank",
                    "Launchpad",
                    "Dashboard",
                    "Single",
                    null
                  ],
                  "description": "The layout archetype this page uses, or null when not yet assigned (most pages are placeholders today).",
                  "example": null
                },
                "purpose": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "One-line description of the page, or null.",
                  "example": null
                }
              },
              "required": [
                "label",
                "route",
                "tba",
                "archetype",
                "purpose"
              ],
              "description": "A leaf subpage under a page (3rd nav level)."
            },
            "description": "Leaf subpages under this page. Empty when the page is a leaf."
          }
        },
        "required": [
          "group",
          "label",
          "route",
          "icon",
          "tba",
          "archetype",
          "purpose",
          "subpages"
        ],
        "description": "A navigable page within a module (2nd nav level)."
      },
      "NavSubpage": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Subpage label as shown in the sidebar.",
            "example": "VAT return"
          },
          "route": {
            "type": "string",
            "description": "Route relative to the org root (no org slug). Prefix with `/{orgSlug}/` to build a URL.",
            "example": "closing/vat/dap"
          },
          "tba": {
            "type": "boolean",
            "description": "Build-status flag. `true` = not-yet-built placeholder (renders a muted TBA chip in the GUI); `false` = shipped.",
            "example": true
          },
          "archetype": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Table",
              "Blank",
              "Launchpad",
              "Dashboard",
              "Single",
              null
            ],
            "description": "The layout archetype this page uses, or null when not yet assigned (most pages are placeholders today).",
            "example": null
          },
          "purpose": {
            "type": [
              "string",
              "null"
            ],
            "description": "One-line description of the page, or null.",
            "example": null
          }
        },
        "required": [
          "label",
          "route",
          "tba",
          "archetype",
          "purpose"
        ],
        "description": "A leaf subpage under a page (3rd nav level)."
      },
      "ListArchetypesResponse": {
        "type": "object",
        "properties": {
          "archetypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "enum": [
                    "Table",
                    "Blank",
                    "Launchpad",
                    "Dashboard",
                    "Single"
                  ],
                  "description": "Content-panel layout archetype. `Table` = dense list (toolbar + grid + status bar); `Blank` = body only, no chrome; `Launchpad` = card grid to subpages; `Dashboard` = KPI tiles + chart cards; `Single` = one record (form panels + line-items).",
                  "example": "Table"
                },
                "label": {
                  "type": "string",
                  "description": "Human-facing archetype name.",
                  "example": "Table"
                },
                "slots": {
                  "type": "string",
                  "description": "Which `ContentPanel` slots this archetype fills.",
                  "example": "toolbar + body + statusBar (+ inspector, actionBar)"
                },
                "useWhen": {
                  "type": "string",
                  "description": "When to pick this archetype for a page.",
                  "example": "Dense list pages (invoices, transactions)."
                },
                "demoRoute": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Route segment of the dev-only demo page for this archetype (404 in production), or null if none.",
                  "example": "demo-table"
                }
              },
              "required": [
                "key",
                "label",
                "slots",
                "useWhen",
                "demoRoute"
              ],
              "description": "One content-panel layout archetype."
            },
            "description": "The five content-panel layout archetypes."
          }
        },
        "required": [
          "archetypes"
        ],
        "description": "`GET /v1/structure/archetypes` — the layout-archetype catalog."
      },
      "Archetype": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "Table",
              "Blank",
              "Launchpad",
              "Dashboard",
              "Single"
            ],
            "description": "Content-panel layout archetype. `Table` = dense list (toolbar + grid + status bar); `Blank` = body only, no chrome; `Launchpad` = card grid to subpages; `Dashboard` = KPI tiles + chart cards; `Single` = one record (form panels + line-items).",
            "example": "Table"
          },
          "label": {
            "type": "string",
            "description": "Human-facing archetype name.",
            "example": "Table"
          },
          "slots": {
            "type": "string",
            "description": "Which `ContentPanel` slots this archetype fills.",
            "example": "toolbar + body + statusBar (+ inspector, actionBar)"
          },
          "useWhen": {
            "type": "string",
            "description": "When to pick this archetype for a page.",
            "example": "Dense list pages (invoices, transactions)."
          },
          "demoRoute": {
            "type": [
              "string",
              "null"
            ],
            "description": "Route segment of the dev-only demo page for this archetype (404 in production), or null if none.",
            "example": "demo-table"
          }
        },
        "required": [
          "key",
          "label",
          "slots",
          "useWhen",
          "demoRoute"
        ],
        "description": "One content-panel layout archetype."
      },
      "JournalResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Opaque organization identifier (UUID)."
          },
          "periodId": {
            "type": "string",
            "format": "uuid",
            "description": "The period these lines belong to.",
            "example": "3f5b2c14-8d9a-4e2b-b1f0-2a6d7c9e4a10"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "postingId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Posting the line belongs to.",
                  "example": "9c1e7a02-4b6d-4f18-9a3e-7d2c5b8f1e40"
                },
                "postingDate": {
                  "type": "string",
                  "description": "Posting date (ISO `YYYY-MM-DD`).",
                  "example": "2025-03-14"
                },
                "isOpening": {
                  "type": "boolean",
                  "description": "True for 701 opening-balance postings carried into the period.",
                  "example": false
                },
                "summaryDesignation": {
                  "type": "string",
                  "description": "Human designation of the summary record (doklad label).",
                  "example": "FP2025/0042"
                },
                "summaryType": {
                  "type": "string",
                  "description": "Summary-record type (document class).",
                  "example": "INVOICE_RECEIVED"
                },
                "accountingEventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Originating accounting event.",
                  "example": "1b2a3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d"
                },
                "lineId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Double-entry line id.",
                  "example": "aa11bb22-cc33-4d44-9e55-ff6677889900"
                },
                "accountId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Account the line posts to.",
                  "example": "bb22cc33-dd44-4e55-9f66-001122334455"
                },
                "accountNumber": {
                  "type": "string",
                  "description": "Syntetický/analytický account number (účtový rozvrh).",
                  "example": "311000"
                },
                "side": {
                  "type": "string",
                  "enum": [
                    "DEBIT",
                    "CREDIT"
                  ],
                  "description": "Side of the double entry — MD (DEBIT) or Dal (CREDIT).",
                  "example": "DEBIT"
                },
                "amount": {
                  "type": "string",
                  "description": "Signed line amount as a decimal string in the accounting currency (CZK by default). Never a JS number.",
                  "example": "12100.00"
                }
              },
              "required": [
                "postingId",
                "postingDate",
                "isOpening",
                "summaryDesignation",
                "summaryType",
                "accountingEventId",
                "lineId",
                "accountId",
                "accountNumber",
                "side",
                "amount"
              ],
              "description": "One deník line — a single side of a double-entry posting."
            },
            "description": "Journal lines in chronological book order (§13)."
          }
        },
        "required": [
          "organizationId",
          "periodId",
          "rows"
        ],
        "description": "Deník (chronological journal) for a period — the double-entry lines including 701 opening postings, in book order."
      },
      "JournalRow": {
        "type": "object",
        "properties": {
          "postingId": {
            "type": "string",
            "format": "uuid",
            "description": "Posting the line belongs to.",
            "example": "9c1e7a02-4b6d-4f18-9a3e-7d2c5b8f1e40"
          },
          "postingDate": {
            "type": "string",
            "description": "Posting date (ISO `YYYY-MM-DD`).",
            "example": "2025-03-14"
          },
          "isOpening": {
            "type": "boolean",
            "description": "True for 701 opening-balance postings carried into the period.",
            "example": false
          },
          "summaryDesignation": {
            "type": "string",
            "description": "Human designation of the summary record (doklad label).",
            "example": "FP2025/0042"
          },
          "summaryType": {
            "type": "string",
            "description": "Summary-record type (document class).",
            "example": "INVOICE_RECEIVED"
          },
          "accountingEventId": {
            "type": "string",
            "format": "uuid",
            "description": "Originating accounting event.",
            "example": "1b2a3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "lineId": {
            "type": "string",
            "format": "uuid",
            "description": "Double-entry line id.",
            "example": "aa11bb22-cc33-4d44-9e55-ff6677889900"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account the line posts to.",
            "example": "bb22cc33-dd44-4e55-9f66-001122334455"
          },
          "accountNumber": {
            "type": "string",
            "description": "Syntetický/analytický account number (účtový rozvrh).",
            "example": "311000"
          },
          "side": {
            "type": "string",
            "enum": [
              "DEBIT",
              "CREDIT"
            ],
            "description": "Side of the double entry — MD (DEBIT) or Dal (CREDIT).",
            "example": "DEBIT"
          },
          "amount": {
            "type": "string",
            "description": "Signed line amount as a decimal string in the accounting currency (CZK by default). Never a JS number.",
            "example": "12100.00"
          }
        },
        "required": [
          "postingId",
          "postingDate",
          "isOpening",
          "summaryDesignation",
          "summaryType",
          "accountingEventId",
          "lineId",
          "accountId",
          "accountNumber",
          "side",
          "amount"
        ],
        "description": "One deník line — a single side of a double-entry posting."
      },
      "LedgerResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Opaque organization identifier (UUID)."
          },
          "periodId": {
            "type": "string",
            "format": "uuid",
            "description": "The period these balances belong to.",
            "example": "3f5b2c14-8d9a-4e2b-b1f0-2a6d7c9e4a10"
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Account id.",
                  "example": "bb22cc33-dd44-4e55-9f66-001122334455"
                },
                "accountNumber": {
                  "type": "string",
                  "description": "Account number (účtový rozvrh).",
                  "example": "311000"
                },
                "accountName": {
                  "type": "string",
                  "description": "Account name.",
                  "example": "Odběratelé — tuzemsko"
                },
                "nature": {
                  "type": "string",
                  "description": "Account nature (ASSET / LIABILITY / EQUITY / EXPENSE / REVENUE / CLOSING).",
                  "example": "ASSET"
                },
                "normalBalance": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "DEBIT",
                    "CREDIT",
                    null
                  ],
                  "description": "Normal balance side, or null for accounts without one.",
                  "example": "DEBIT"
                },
                "openingBalance": {
                  "type": "string",
                  "description": "Počáteční stav as a decimal string.",
                  "example": "0.00"
                },
                "turnoverDebit": {
                  "type": "string",
                  "description": "Obrat MD (debit turnover) as a decimal string.",
                  "example": "121000.00"
                },
                "turnoverCredit": {
                  "type": "string",
                  "description": "Obrat Dal (credit turnover) as a decimal string.",
                  "example": "121000.00"
                },
                "closingBalance": {
                  "type": "string",
                  "description": "Konečný stav as a decimal string.",
                  "example": "0.00"
                }
              },
              "required": [
                "accountId",
                "accountNumber",
                "accountName",
                "nature",
                "normalBalance",
                "openingBalance",
                "turnoverDebit",
                "turnoverCredit",
                "closingBalance"
              ],
              "description": "Per-account balance row from the read-model — počáteční stav, obraty MD/Dal, konečný stav."
            },
            "description": "Per-account balances, ordered by account number."
          }
        },
        "required": [
          "organizationId",
          "periodId",
          "accounts"
        ],
        "description": "Hlavní kniha / obratová předvaha — per-account opening | turnover | closing straight from the read-model."
      },
      "LedgerAccountRow": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account id.",
            "example": "bb22cc33-dd44-4e55-9f66-001122334455"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number (účtový rozvrh).",
            "example": "311000"
          },
          "accountName": {
            "type": "string",
            "description": "Account name.",
            "example": "Odběratelé — tuzemsko"
          },
          "nature": {
            "type": "string",
            "description": "Account nature (ASSET / LIABILITY / EQUITY / EXPENSE / REVENUE / CLOSING).",
            "example": "ASSET"
          },
          "normalBalance": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "DEBIT",
              "CREDIT",
              null
            ],
            "description": "Normal balance side, or null for accounts without one.",
            "example": "DEBIT"
          },
          "openingBalance": {
            "type": "string",
            "description": "Počáteční stav as a decimal string.",
            "example": "0.00"
          },
          "turnoverDebit": {
            "type": "string",
            "description": "Obrat MD (debit turnover) as a decimal string.",
            "example": "121000.00"
          },
          "turnoverCredit": {
            "type": "string",
            "description": "Obrat Dal (credit turnover) as a decimal string.",
            "example": "121000.00"
          },
          "closingBalance": {
            "type": "string",
            "description": "Konečný stav as a decimal string.",
            "example": "0.00"
          }
        },
        "required": [
          "accountId",
          "accountNumber",
          "accountName",
          "nature",
          "normalBalance",
          "openingBalance",
          "turnoverDebit",
          "turnoverCredit",
          "closingBalance"
        ],
        "description": "Per-account balance row from the read-model — počáteční stav, obraty MD/Dal, konečný stav."
      },
      "OpenItemsResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Opaque organization identifier (UUID)."
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Open-item id.",
                  "example": "aa11bb22-cc33-4d44-9e55-ff6677889900"
                },
                "counterpartyId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Counterparty (partner) id.",
                  "example": "cc33dd44-ee55-4f66-9077-112233445566"
                },
                "accountNumber": {
                  "type": "string",
                  "description": "Receivable/payable account number.",
                  "example": "311000"
                },
                "direction": {
                  "type": "string",
                  "enum": [
                    "RECEIVABLE",
                    "PAYABLE"
                  ],
                  "description": "Receivable or payable.",
                  "example": "RECEIVABLE"
                },
                "variableSymbol": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Variabilní symbol, or null.",
                  "example": "20250042"
                },
                "originalAmount": {
                  "type": "string",
                  "description": "Original amount (decimal string).",
                  "example": "121000.00"
                },
                "settledAmount": {
                  "type": "string",
                  "description": "Settled amount so far (decimal string).",
                  "example": "0.00"
                },
                "remainingAmount": {
                  "type": "string",
                  "description": "Remaining unsettled amount (decimal string).",
                  "example": "121000.00"
                },
                "isSettled": {
                  "type": "boolean",
                  "description": "True once fully settled.",
                  "example": false
                },
                "currencyCode": {
                  "type": "string",
                  "description": "ISO 4217 currency code.",
                  "example": "CZK"
                },
                "issueDate": {
                  "type": "string",
                  "description": "Issue date (YYYY-MM-DD).",
                  "example": "2025-03-14"
                },
                "dueDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Due date (YYYY-MM-DD), or null.",
                  "example": "2025-04-13"
                }
              },
              "required": [
                "id",
                "counterpartyId",
                "accountNumber",
                "direction",
                "variableSymbol",
                "originalAmount",
                "settledAmount",
                "remainingAmount",
                "isSettled",
                "currencyCode",
                "issueDate",
                "dueDate"
              ],
              "description": "An unsettled receivable or payable (open item)."
            },
            "description": "Open items matching the filters."
          }
        },
        "required": [
          "organizationId",
          "items"
        ],
        "description": "Open items (saldokonto) — unsettled receivables/payables."
      },
      "OpenItemRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Open-item id.",
            "example": "aa11bb22-cc33-4d44-9e55-ff6677889900"
          },
          "counterpartyId": {
            "type": "string",
            "format": "uuid",
            "description": "Counterparty (partner) id.",
            "example": "cc33dd44-ee55-4f66-9077-112233445566"
          },
          "accountNumber": {
            "type": "string",
            "description": "Receivable/payable account number.",
            "example": "311000"
          },
          "direction": {
            "type": "string",
            "enum": [
              "RECEIVABLE",
              "PAYABLE"
            ],
            "description": "Receivable or payable.",
            "example": "RECEIVABLE"
          },
          "variableSymbol": {
            "type": [
              "string",
              "null"
            ],
            "description": "Variabilní symbol, or null.",
            "example": "20250042"
          },
          "originalAmount": {
            "type": "string",
            "description": "Original amount (decimal string).",
            "example": "121000.00"
          },
          "settledAmount": {
            "type": "string",
            "description": "Settled amount so far (decimal string).",
            "example": "0.00"
          },
          "remainingAmount": {
            "type": "string",
            "description": "Remaining unsettled amount (decimal string).",
            "example": "121000.00"
          },
          "isSettled": {
            "type": "boolean",
            "description": "True once fully settled.",
            "example": false
          },
          "currencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code.",
            "example": "CZK"
          },
          "issueDate": {
            "type": "string",
            "description": "Issue date (YYYY-MM-DD).",
            "example": "2025-03-14"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "description": "Due date (YYYY-MM-DD), or null.",
            "example": "2025-04-13"
          }
        },
        "required": [
          "id",
          "counterpartyId",
          "accountNumber",
          "direction",
          "variableSymbol",
          "originalAmount",
          "settledAmount",
          "remainingAmount",
          "isSettled",
          "currencyCode",
          "issueDate",
          "dueDate"
        ],
        "description": "An unsettled receivable or payable (open item)."
      },
      "SaldokontoResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Opaque organization identifier (UUID)."
          },
          "partners": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "counterpartyId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Counterparty (partner) id.",
                  "example": "cc33dd44-ee55-4f66-9077-112233445566"
                },
                "accountNumber": {
                  "type": "string",
                  "description": "Receivable/payable account number.",
                  "example": "311000"
                },
                "direction": {
                  "type": "string",
                  "enum": [
                    "RECEIVABLE",
                    "PAYABLE"
                  ],
                  "description": "Receivable or payable.",
                  "example": "RECEIVABLE"
                },
                "openTotal": {
                  "type": "string",
                  "description": "Total open (unsettled) amount for the partner (decimal string).",
                  "example": "121000.00"
                }
              },
              "required": [
                "counterpartyId",
                "accountNumber",
                "direction",
                "openTotal"
              ],
              "description": "Per-partner open balance."
            },
            "description": "Per-partner open balances."
          }
        },
        "required": [
          "organizationId",
          "partners"
        ],
        "description": "Saldokonto — per-partner open receivable/payable balances."
      },
      "SaldoPerPartnerRow": {
        "type": "object",
        "properties": {
          "counterpartyId": {
            "type": "string",
            "format": "uuid",
            "description": "Counterparty (partner) id.",
            "example": "cc33dd44-ee55-4f66-9077-112233445566"
          },
          "accountNumber": {
            "type": "string",
            "description": "Receivable/payable account number.",
            "example": "311000"
          },
          "direction": {
            "type": "string",
            "enum": [
              "RECEIVABLE",
              "PAYABLE"
            ],
            "description": "Receivable or payable.",
            "example": "RECEIVABLE"
          },
          "openTotal": {
            "type": "string",
            "description": "Total open (unsettled) amount for the partner (decimal string).",
            "example": "121000.00"
          }
        },
        "required": [
          "counterpartyId",
          "accountNumber",
          "direction",
          "openTotal"
        ],
        "description": "Per-partner open balance."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Zero-DB smoke test. Returns the resolved principal — confirms the API key authenticated.",
        "tags": [
          "Meta"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key authenticated and the principal resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/organization": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "description": "Returns the organization the authenticated API key belongs to.",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The authenticated principal's organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Service status",
        "description": "Returns the service health summary. Proxies `status.afframe.com` (OpenStatus) when reachable; otherwise synthesizes an operational fallback. Public — no API key required.",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Service status snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/feedback": {
      "post": {
        "operationId": "createFeedback",
        "summary": "Send feedback",
        "description": "Submit a bug report, feature request, process issue, or question. The api forwards every submission to `support+feedback@afframe.com` and creates a Linear issue tagged with the feedback type. Public — no API key required.",
        "tags": [
          "Feedback"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback accepted for downstream dispatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFeedbackResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/structure": {
      "get": {
        "operationId": "getStructure",
        "summary": "Get application structure",
        "description": "Returns the org application's information architecture — the ten rail modules, each with its full page tree (pages → subpages), build-status, and layout archetype. Start here to discover what the app exposes without driving a browser. Public — no API key required; the structure is tenant-agnostic.",
        "tags": [
          "Structure"
        ],
        "responses": {
          "200": {
            "description": "The full application structure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStructureResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/structure/archetypes": {
      "get": {
        "operationId": "listArchetypes",
        "summary": "List layout archetypes",
        "description": "Returns the five content-panel layout archetypes (Table, Blank, Launchpad, Dashboard, Single) with their slot contract — how any page is laid out. Public — no API key required.",
        "tags": [
          "Structure"
        ],
        "responses": {
          "200": {
            "description": "The layout-archetype catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListArchetypesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/accounting/periods/{periodId}/journal": {
      "get": {
        "operationId": "getAccountingJournal",
        "summary": "Get journal (deník)",
        "description": "Returns the deník — the double-entry postings of the given accounting period in chronological book order (§13), including 701 opening postings. Read-model view; organization-scoped (FORCE RLS) via the API key's own tenant.",
        "tags": [
          "Accounting"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Accounting period id to read. Resolved within the API key's own organization (FORCE RLS); a period from another tenant returns 404.",
              "example": "3f5b2c14-8d9a-4e2b-b1f0-2a6d7c9e4a10"
            },
            "required": true,
            "description": "Accounting period id to read. Resolved within the API key's own organization (FORCE RLS); a period from another tenant returns 404.",
            "name": "periodId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The period's journal lines in book order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/accounting/periods/{periodId}/ledger": {
      "get": {
        "operationId": "getAccountingLedger",
        "summary": "Get general ledger / trial balance (hlavní kniha)",
        "description": "Returns per-account opening balance | debit/credit turnover | closing balance for the period, straight from the read-model — the hlavní kniha and obratová předvaha. Organization-scoped (FORCE RLS).",
        "tags": [
          "Accounting"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Accounting period id to read. Resolved within the API key's own organization (FORCE RLS); a period from another tenant returns 404.",
              "example": "3f5b2c14-8d9a-4e2b-b1f0-2a6d7c9e4a10"
            },
            "required": true,
            "description": "Accounting period id to read. Resolved within the API key's own organization (FORCE RLS); a period from another tenant returns 404.",
            "name": "periodId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-account balances for the period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/accounting/open-items": {
      "get": {
        "operationId": "getAccountingOpenItems",
        "summary": "List open items (saldokonto)",
        "description": "Returns unsettled receivables/payables (open items), optionally filtered by due date and direction. Organization-scoped (FORCE RLS).",
        "tags": [
          "Accounting"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Only items due strictly before this ISO date (YYYY-MM-DD).",
              "example": "2025-12-31"
            },
            "required": false,
            "description": "Only items due strictly before this ISO date (YYYY-MM-DD).",
            "name": "dueBefore",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "RECEIVABLE",
                "PAYABLE"
              ],
              "description": "Restrict to receivables or payables.",
              "example": "RECEIVABLE"
            },
            "required": false,
            "description": "Restrict to receivables or payables.",
            "name": "direction",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Open items matching the filters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenItemsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/accounting/saldokonto": {
      "get": {
        "operationId": "getAccountingSaldokonto",
        "summary": "Get per-partner saldo",
        "description": "Returns per-partner open receivable/payable balances (saldokonto). Organization-scoped (FORCE RLS).",
        "tags": [
          "Accounting"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Per-partner open balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaldokontoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "webhooks": {}
}
